@charset "UTF-8";

body {
  color: #111;
  font-weight: normal ;
  font-size: 1rem ;
  line-height: 1 ;
  width: 100%;
  background-color: #fff;
  /* font-family: 'Sawarabi Mincho', serif; */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
