@charset "UTF-8";

body {
  color: #111;
  font-weight: normal ;
  font-size: 1rem ;
  line-height: 1 ;
  width: 100%;
  background-color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.2rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrap {
  width: 80%;
	max-width: 980px;
	margin: 0 auto;
}

@media screen and ( max-width: 768px )  {
	.wrap{
		width: 100%;
	}
}