@charset "UTF-8";

.wrap{
	font-size: 1.2rem;
}

.cover {
	width: 70%;
	min-width: 12rem;
	height: 10vw;
	min-height: 6rem;
	max-height: 8rem;
	margin: 4rem auto;
	display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
	-webkit-flex-direction: column;
  flex-direction: column;
	background-color: #ccc;
	border-radius: 0.5rem;
}

/* PC向けのメディアクエリ */
@media screen and ( min-width: 769px ) {
	.cover{
    width: 40%;
	}
}

.title {
	text-align: center;
}


.narabeForm{
	width: 100%;
	display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
	-webkit-flex-direction: column;
  flex-direction: column;
}

.narabeSelect{
	width: 100%;
	margin-bottom: 1.4rem;
	display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
	-webkit-align-items: center;
  align-items: center;
	-webkit-flex-direction: column;
  flex-direction: column;
}

.selectSection{
	width: 15rem;
	margin-bottom: 1rem;
	display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
	-webkit-flex-direction: column;
  flex-direction: column;
}

.numberSelectSection{
	width: 100%;
	margin-bottom: 0.5rem;
	display: -webkit-flex;
  display: flex;
	-webkit-justify-content: space-between;
  justify-content: space-between;
}

.colorSelectSection{
	width: 100%;
	margin-bottom: 0.5rem;
	display: -webkit-flex;
  display: flex;
	-webkit-justify-content: space-between;
  justify-content: space-between;
}

.selectSection select{
	width: 5.1rem;
	position: relative;
	text-indent: 0.2rem;
	font-size: 1.1rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border: 2px solid #000;
  border-radius: 0.5rem;
	background-color: transparent;
	filter: drop-shadow(0.2rem 0.2rem 0 #eee);
}
/* 
font-family: 'Aclonica', sans-serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'RocknRoll One', sans-serif;
font-family: 'Sigmar One', cursive; 
*/

.submitBotton{
	position: relative;
	text-align: center;
	font-size: 1.2rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.submitBotton p{
 width: 50%;
}

.submitBotton input{
	padding: 0.8rem 3rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  display: inline-block;
	line-height: 1.5;
	vertical-align: middle;
	border: 2px solid #000;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: transparent;
	filter: drop-shadow(0.2rem 0.2rem 0 #eee);
}