@charset "UTF-8";

.title {
	text-align: center;
	margin: 3rem 0rem 3.6rem;
}

.playerDisplay{
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
	/* flex-direction:PHP; */
}

.playerDisplayBox{
	position: relative;
	width: 22vw;
  height: 10vw;
	max-width: 11.3rem;
	max-height: 4.7rem;
  min-width: 7.6rem;
  min-height: 3.5rem;
	opacity: 0.8;
  /* clip-path: polygon(PHP);
	border-PHP;
	background-color:PHP; */
}

.turn{
	position: absolute;
	bottom: 40%;
  /* left or lightPHP: -5%; */
	color: #fff;
	/* transform: rotate( PHP ); */
  font-size: 1.3rem;
  font-family: 'Kanit', sans-serif;
}

.playerName{
	position: absolute;
	bottom: 3%;
	/* left or lightPHP: 4%; */
	color: #fff;
	font-size: 1.6rem;
  font-family: 'Kanit', sans-serif;
}

.boardWrap{
  position: relative;
	width: 79vw;
  height: 79vw;
  /* max-width: PHP; */
  /* max-height: PHP; */
  margin: 0 auto 2rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

.board {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
	/* width: 100%; */
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.line {
  width: 100%;
	display: flex;
	justify-content: center;
}

.box {
  position:relative;
	/* width: calc( (100% / PHP) - 0.4rem );
  width: calc( (100% / PHP) - 0.4rem ); */
	max-width: 5rem;
  max-height: 5rem;
	margin: 0.15rem;
	background-color: #eee;
}

.box a {
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	top:0;
	left:0;
	margin: auto;
}

.box p {
  display:block;
	position:absolute;
	bottom:0;
	right:0;
	top:0;
	left:0;
	margin: auto;
}

/* ボード部分のタブレット端末用などへの調整 */
@media screen and ( max-width: 768px)   {
	.boardWrap{
		width: 98vw;
    height: 98vw;
	}
  .box{
    margin: 0.1rem
  }
}


.buttonSection{
  margin-bottom: 3rem;
}

.submitBotton{
	text-align: center;
	font-size: 1rem;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.submitBotton p{
 width: 50%;
}

.submitBotton input{
	padding: 0.6rem 2.4rem;
	margin-left: auto;
	margin-right: auto;
  display: inline-block;
	line-height: 1.5;
	vertical-align: middle;
	border: 2px solid #000;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: transparent;
	/* filter: drop-shadow(0.2rem 0.2rem 0 #eee); */
}



/* 勝利表示 */
.winDisplay{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 40%, 100% 30%, 100% 60%, 0 70%);
  background-color: rgba(240, 240, 240, 0.8);
}

.winPlayerName{
	position: absolute;
	left: 25%;
	top: 45%;
  transform: translate(-50%, -50%) rotate( -20deg );
	font-size: 2.5rem;
  font-family: 'Ranchers', cursive;
  /* color:PHP; */
}

.win{
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%) rotate( -9deg );
	margin: auto;
	font-size: 5rem;
  font-family: 'Ranchers', cursive;
}
